.nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    background: rgb(60, 60, 61);
    color: azure;
    &-links {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}